PNC SE Seources/Interface-based WS/CalculatorClient/Web References/localhost2/SimpleCalculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="http://CalculationServices.com" targetNamespace="http://CalculationServices.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://CalculationServices.com">
      <s:element name="Multiply">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MultiplyResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Divide">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DivideResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DivideResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Subtract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubtractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubtractResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="num1" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="num2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </types>
  <message name="MultiplySoapIn">
    <part name="parameters" element="s0:Multiply" />
  </message>
  <message name="MultiplySoapOut">
    <part name="parameters" element="s0:MultiplyResponse" />
  </message>
  <message name="DivideSoapIn">
    <part name="parameters" element="s0:Divide" />
  </message>
  <message name="DivideSoapOut">
    <part name="parameters" element="s0:DivideResponse" />
  </message>
  <message name="SubtractSoapIn">
    <part name="parameters" element="s0:Subtract" />
  </message>
  <message name="SubtractSoapOut">
    <part name="parameters" element="s0:SubtractResponse" />
  </message>
  <message name="AddSoapIn">
    <part name="parameters" element="s0:Add" />
  </message>
  <message name="AddSoapOut">
    <part name="parameters" element="s0:AddResponse" />
  </message>
  <message name="MultiplyHttpGetIn">
    <part name="num1" type="s:string" />
    <part name="num2" type="s:string" />
  </message>
  <message name="MultiplyHttpGetOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="DivideHttpGetIn">
    <part name="num1" type="s:string" />
    <part name="num2" type="s:string" />
  </message>
  <message name="DivideHttpGetOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="SubtractHttpGetIn">
    <part name="num1" type="s:string" />
    <part name="num2" type="s:string" />
  </message>
  <message name="SubtractHttpGetOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="AddHttpGetIn">
    <part name="num1" type="s:string" />
    <part name="num2" type="s:string" />
  </message>
  <message name="AddHttpGetOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="MultiplyHttpPostIn">
    <part name="num1" type="s:string" />
    <part name="num2" type="s:string" />
  </message>
  <message name="MultiplyHttpPostOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="DivideHttpPostIn">
    <part name="num1" type="s:string" />
    <part name="num2" type="s:string" />
  </message>
  <message name="DivideHttpPostOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="SubtractHttpPostIn">
    <part name="num1" type="s:string" />
    <part name="num2" type="s:string" />
  </message>
  <message name="SubtractHttpPostOut">
    <part name="Body" element="s0:int" />
  </message>
  <message name="AddHttpPostIn">
    <part name="num1" type="s:string" />
    <part name="num2" type="s:string" />
  </message>
  <message name="AddHttpPostOut">
    <part name="Body" element="s0:int" />
  </message>
  <portType name="SimpleCalculatorSoap">
    <operation name="Multiply">
      <documentation>Multiplies two integers and returns the result</documentation>
      <input message="s0:MultiplySoapIn" />
      <output message="s0:MultiplySoapOut" />
    </operation>
    <operation name="Divide">
      <documentation>Divides two integers and returns the result</documentation>
      <input message="s0:DivideSoapIn" />
      <output message="s0:DivideSoapOut" />
    </operation>
    <operation name="Subtract">
      <documentation>Subtracts two integers and returns the result</documentation>
      <input message="s0:SubtractSoapIn" />
      <output message="s0:SubtractSoapOut" />
    </operation>
    <operation name="Add">
      <documentation>Adds two integers and returns the sum</documentation>
      <input message="s0:AddSoapIn" />
      <output message="s0:AddSoapOut" />
    </operation>
  </portType>
  <portType name="SimpleCalculatorHttpGet">
    <operation name="Multiply">
      <documentation>Multiplies two integers and returns the result</documentation>
      <input message="s0:MultiplyHttpGetIn" />
      <output message="s0:MultiplyHttpGetOut" />
    </operation>
    <operation name="Divide">
      <documentation>Divides two integers and returns the result</documentation>
      <input message="s0:DivideHttpGetIn" />
      <output message="s0:DivideHttpGetOut" />
    </operation>
    <operation name="Subtract">
      <documentation>Subtracts two integers and returns the result</documentation>
      <input message="s0:SubtractHttpGetIn" />
      <output message="s0:SubtractHttpGetOut" />
    </operation>
    <operation name="Add">
      <documentation>Adds two integers and returns the sum</documentation>
      <input message="s0:AddHttpGetIn" />
      <output message="s0:AddHttpGetOut" />
    </operation>
  </portType>
  <portType name="SimpleCalculatorHttpPost">
    <operation name="Multiply">
      <documentation>Multiplies two integers and returns the result</documentation>
      <input message="s0:MultiplyHttpPostIn" />
      <output message="s0:MultiplyHttpPostOut" />
    </operation>
    <operation name="Divide">
      <documentation>Divides two integers and returns the result</documentation>
      <input message="s0:DivideHttpPostIn" />
      <output message="s0:DivideHttpPostOut" />
    </operation>
    <operation name="Subtract">
      <documentation>Subtracts two integers and returns the result</documentation>
      <input message="s0:SubtractHttpPostIn" />
      <output message="s0:SubtractHttpPostOut" />
    </operation>
    <operation name="Add">
      <documentation>Adds two integers and returns the sum</documentation>
      <input message="s0:AddHttpPostIn" />
      <output message="s0:AddHttpPostOut" />
    </operation>
  </portType>
  <binding name="SimpleCalculatorSoap" type="s0:SimpleCalculatorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="Multiply">
      <soap:operation soapAction="http://CalculationServices.com/Multiply" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Divide">
      <soap:operation soapAction="http://CalculationServices.com/Divide" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Subtract">
      <soap:operation soapAction="http://CalculationServices.com/Subtract" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Add">
      <soap:operation soapAction="http://CalculationServices.com/Add" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="SimpleCalculatorHttpGet" type="s0:SimpleCalculatorHttpGet">
    <http:binding verb="GET" />
    <operation name="Multiply">
      <http:operation location="/Multiply" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Divide">
      <http:operation location="/Divide" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Subtract">
      <http:operation location="/Subtract" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Add">
      <http:operation location="/Add" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="SimpleCalculatorHttpPost" type="s0:SimpleCalculatorHttpPost">
    <http:binding verb="POST" />
    <operation name="Multiply">
      <http:operation location="/Multiply" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Divide">
      <http:operation location="/Divide" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Subtract">
      <http:operation location="/Subtract" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="Add">
      <http:operation location="/Add" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="SimpleCalculator">
    <documentation>The SimpleCalculator web service implements ICalculator. It provides the four basic arithmetic operations for integers.</documentation>
    <port name="SimpleCalculatorSoap" binding="s0:SimpleCalculatorSoap">
      <soap:address location="http://localhost/CalculationServices/SimpleCalculator.asmx" />
    </port>
    <port name="SimpleCalculatorHttpGet" binding="s0:SimpleCalculatorHttpGet">
      <http:address location="http://localhost/CalculationServices/SimpleCalculator.asmx" />
    </port>
    <port name="SimpleCalculatorHttpPost" binding="s0:SimpleCalculatorHttpPost">
      <http:address location="http://localhost/CalculationServices/SimpleCalculator.asmx" />
    </port>
  </service>
</definitions>